{{> header}}

  <h3>Instance Details</h3>
  <p>Here are the details for instance ID #:</p>
  <ul>
    <li>Name: </li>
    <li>Public IP: </li>
    <li>Boot Image </li>
  </ul>
  <p>Click <a href='/details/{{id}}'><strong>here</strong></a> for more information about running instances.</p>
