{{> header}}

<section class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>Deployment Form</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <form action="/deploy" method="post">
        Instance Name:
        <input type="text" name="name" placeholder="instance name"><br>
        Quantity:
        <input type="text" name="qty" placeholder="quantity required"><br><br>
        <input type="submit" value="Deploy">
      </form>

    </div>
  </div>
</section>
